@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap');

:root {
  --color-light-50: #f8fafc;
  
  --color-dark-50: #797974;
  --color-dark-100: #312d37;
  --color-dark-900: #000;

  --color-pink-50: #F5DEB3;
  --color-pink-100: #E9967A;
  --color-pink-200: #F08080;

  --color-gradient: linear-gradient(90deg, var(--color-pink-50), var(--color-pink-100), var(--color-pink-200));
}

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#container {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--color-gradient);
}

#login_form {
  background-color: var(--color-light-50);
  display: flex;
  flex-direction: column;
  padding: 30px 40px;
  border-radius: 8px;
  gap: 30px;
  box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.336);
  height: fit-content;
  animation: dark-to-light-background 0.3s ease-in-out;
}

#form_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#form_header h1 {
  font-size: 35px;
  position: relative;
}

#form_header h1::before {
  position: absolute;
  content: '';
  width: 40%;
  background-color: var(--color-pink-200);
  height: 2px;
  bottom: 10px;
  border-radius: 5px;
}

#mode_icon {
  cursor: pointer;
  font-size: 18px;
}

#social_media {
  display: flex;
  justify-content: space-around;
}

#social_media img {
  width: 30px;
}

#social_media img:hover {
  transform: scale(1.2);
}

*inputs {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}

.input_box label {
  font-size: 14px;
  color: var(--color-dark-50);
}

.input_field {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 3px;
  border-bottom: 1px solid var(--color-pink-100);
  cursor: text;
}

.input_field i {
  font-size: 15px;
  cursor: text;
  color: var(--color-dark-900);
}

.input_field input {
  border: none;
  width: 260px;
  background-color: transparent;
  font-size: 18px;
  padding: 0px 5px;
}

.input_field input:focus {
  outline: none;
}

#forgot_password a {
  text-decoration: none;
  color: var(--color-dark-50);
  font-size: 12px;
}

#forgot_password a:hover {
  color: var(--color-pink-200);
}

#login_button {
  border: none;
  background: var(--color-dark-50);
  color: var(--color-light-50);
  padding: 6px;
  font-size: 15px;
  border-radius: 3px;
  font-weight: bold;
  cursor: pointer;
}

#login_button:hover {
  transform: scale(1.05);
}

.dark#login_form {
  color: var(--color-light-50);
  background-color: var(--color-dark-900);
  animation: light-to-dark-background 0.3s ease-in-out;
}

.dark#login_form .input_field input,
.dark#login_form .input_field i {
    color: var(--color-light-50);
}

@keyframes dark-to-light-background {
  0% {
      background-color:var(--color-dark-900);
  }
  100.0% {
      background-color:var(--color-light-50);
  }
}

@keyframes light-to-dark-background {
  0% {
      background-color:var(--color-light-50);
  }
  100.0% {
      background-color:var(--color-dark-900); 
  }
}